# Base de Datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=mini_erp

# JWT
JWT_SECRET=tu_secreto_muy_seguro_aqui
JWT_EXPIRATION=86400

# Microservicio de Reportes
MICROSERVICIO_REPORTES_URL=http://localhost:8001

# API Port
PORT=3000
